/* keyframe */
@keyframes slideinleft {
    0%{
        transform: translate(0,0);
    }
    10%{
        transform: translateX(10vh);
    }
    20%{
        transform: translateY(-30vh) rotate(360deg);
    }
    30%{
        transform: translateX(20vh);
    }
    40%{
        transform: translate(0,40vh);
    }
    50%{
        transform: translate(50vh,0);
    }
    60%{
        transform: translate(0,-80vh);
    }
    70%{
        transform: translate(100vh,0);
    }
    80%{
        transform: translate(0,-50vh);
    }
    90%{
        transform: translate(-10vh,0);
    }
    100%{
        transform: translate(-170vh,0);
    }
}
/*  */
.head{
    animation: slideinleft 20s ease-in 1s 1;
    position: relative;
    top: 30vh;
    left: 20vh;
}
