/* .button{
	height: 60px;
	width: 150px;
	position: relative;
	top: 0vh;
	left: 85vh;

	transition-property:transform;
	transition-duration: .5s;
	transition-timing-function: ease-in;
	transition-delay: .1s;
	

	 transition: transform .5s ease-in .1s;
}

.text{
	color: rgb(218, 78, 78);
	font-size: larger;
} */
/* 
.text:hover{
	color: red;
	font-size: 30px;
	position: relative;
	top: -2px;
	transform: scale(2,2);
}
.button:hover {
	background-color: rgb(151, 69, 69);
	border-color: rgb(255, 0, 0);
	transform: translate(10px,10px);
} */

.top-to-bottom{
	/* animation-name: ;
	animation-duration: 1s; */
	animation: top-to-bottom 1s ease-in-out 1s 2 normal none;
	position: relative;
}
/* -------------- KEYFRAME --------------- */
/* @keyframes slideinleft {
    0%{
        transform: translate(0,0);
    }
    10%{
        transform: translateX(5vh);
    }
    20%{
        transform: translateY(5vh);
    }
    30%{
        transform: translateX(5vh);
    }
    40%{
        transform: translate(0,5vh);
    }
    50%{
        transform: translate(5vh,0);
    }
    60%{
        transform: translate(0,-5vh);
    }
    70%{
        transform: translate(15vh,0);
    }
    80%{
        transform: translate(0,-5vh);
    }
    90%{
        transform: translate(-5vh,0);
    }
    100%{
        transform: translate(-15vh,0);
    }
}
.slideinleft{
    animation: slideinleft 10s ease-in 1s 5;
    position: relative;
    top: 5vh;
    left: 20vh;
} */

/* keyframe of slideinleft*/

/* keyframe of rotate */
/* @keyframes rotateinandout {
	0%{
		transform: rotateX(90deg);	
	}
	10%{
		transform: rotateY(30deg);
	}
	20%{
		transform: rotateZ(30deg);
	}

}
.rotateinandout{
	animation: rotateinandout 10s ease-in 0.1s 5;
} */
/* keyframe of rotate */
/* keyframe of scalechange */
@keyframes scalechange {
/* 0%{
	transform: scale(1,1);
} */
10%{
	transform: scale(-1.5,-1.5);
}

}
.scalechange{
	animation: scalechange 5s ease-in 1s 5;
	/* position: relative;
	left: 200vh; */
}
/* keyframe of scalechange */